.view__right {
  flex: 0.3;
  background-color: #f9f9f9;
  padding: 20px 5px;

  padding-bottom: 0;
}
.view__right > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.view__right__next {
  display: flex;
  max-width: 380px;
}
.view__right__next > h2 {
  flex: 0.8;
}

.view__right__auto {
  flex: 0.2;

  display: flex;
  align-self: center;
  color: #606060;
  font-size: xx-small !important;
}
.view__right__auto > h2 {
  margin-left: 10px;
}
