*:focus {
  outline: 0 !important;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  flex-direction: column;
}
.app__body {
  display: flex;

  position: relative;
  flex-wrap: nowrap;
  height: 100%;
  overflow: hidden;
}

.view {
  display: flex;
}

a {
  color: rgba(0, 0, 0, 0.87);
}

button {
  border: none;
  background: white;
  cursor: pointer;
  margin: 0 -4px;
}

@media only screen and (max-width: 1200px) {
  .body__left__row__h2 {
    /* display: none; */
  }
  .body__left {
    /* width: 10vw; */
    /* width: 5rem; */
  }
  /* .body__right {
    flex: 0.7 1;
  } */
  /* .slide {
    width: 500px;
  } */
}

@media only screen and (min-width: 1400px) and (max-width: 1812px) {
  .app__tower__300 {
    /* flex: 1 0 auto;
    width: 24rem !important;
    max-width: 50%; */
  }
}
@media only screen and (max-width: 1500px) {
  .header {
    /* min-width: 105rem; */
  }
  /* .body__right {
    flex: 0.7 1;
  } */
  /* .slide {
    width: 500px;
  } */
}
