.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 4rem;
  background: #fff;
}
.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 25px;
}

.header__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  width: 40%;
  min-width: 250px;
}
.header__icons {
  display: flex;
  align-items: center;
}

.header__inputButton {
  width: 65px !important;
  border-left: 1px solid lightgray;
  background-color: #fafafa;
}

.header__icon {
  margin-left: 8px;
}

.menu {
  visibility: hidden;
}
.menu.active {
  visibility: visible;
}
.smt__button__login {
  padding: 0.55rem 0.75rem !important;
}
.smt__button__signup {
  padding: 0.55rem !important;
  color: whitesmoke !important;
  background-color: #00b5ad !important;
}

.dropdown__auth {
  position: absolute;
  text-align: center;
  right: 5px;
  margin-top: 35px;
}

.dropdown__auth ul {
  margin-bottom: 0;

  border-radius: 10px;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-top: 0;
  padding: 13px;
  width: 200px;
}
.dropdown__auth ul li {
  display: flex;
  margin-bottom: 2px;
  text-align: left;
  padding: 5px;

  justify-content: space-between;
  align-items: center;
}
.dropdown__auth ul li:hover {
  background-color: lightgrey;
  border-radius: 10px;
  cursor: pointer;
}
.dropdown__auth ul li div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown__auth ul li div span {
  margin-left: 7px;
}

.dropdown__auth > ul > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.auth__logged__in {
  width: 25px;
  border-radius: 25px;
}

.dropdown__auth > ul > li > a {
  color: white;
}

#log__in__auth2 > li > a {
  color: black;
}
.log__in__app__icon {
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  height: 34px;
}

.log__in__app__icon > span {
  margin-left: 7px;
}

.dropdown__first__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.dropdown__first__menu:hover {
  background-color: grey;
  border-radius: 10px;
}
.dropdown__first__lan {
  display: flex;
  align-items: center;
}

.log__in__app__icon:hover {
  background-color: grey;
  border-radius: 10px;
}
.dropdown__second__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
